ul.gridlist {
  padding: 0;
}

ul.gridlist li {
  list-style: none;
  border-top: 1px solid rgb(115, 115, 217);
  border-bottom: 1px solid rgb(115, 115, 217);
  margin-top: -1px;
  height: 1.12rem;
}
