@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/IndieFlower-Regular.ttf") format("truetype");
}

:root {
  --primary-blue: hsl(240, 57%, 65%);
  --light-blue: hsl(240, 57%, 80%);
}

body {
  background-color: bisque;
  font-family: "Indie Flower", cursive;
  padding-top: 1rem;
}
