@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/IndieFlower-Regular.ttf") format("truetype");
}

:root {
  --primary-blue: hsl(240, 57%, 65%);
  --light-blue: hsl(240, 57%, 80%);
  --lightest-blue: hsl(240, 57%, 90%);

  --css-palette-one: #ececec;
  --css-palette-two: #9fd3c7;
  --css-palette-three: #385170;
  --css-palette-four: #142d4c;
}

body {
  background-color: var(--css-palette-two);
  font-family: "Indie Flower", cursive;
  padding-top: 1rem;
  box-sizing: border-box;
}
